---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Threejs">
	<main class="flex items-center justify-center">
		<div class="w-screen h-screen" data-name="scene-container">
			<canvas class="w-full h-full" data-name="scene">
				Canvas doesn't support on your browser
			</canvas>
		</div>
	</main>
</Layout>

<script>
	import WorldClass from "@/_threejs/classes/core/World.class";

	const main = () => {
		const container = document.querySelector(
			'[data-name="scene-container"]',
		) as HTMLDivElement | undefined;
		if (!container) return;

		const world = new WorldClass({ container });
		world.render();
	};
	main();
</script>
